@using Microsoft.AspNetCore.Identity
@using WebApplication3.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model WebApplication3.ViewModels.MainViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="" asp-controller="AccountManager" asp-action="Logout">Выход</a>
}

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->

<div class="row">
    <div class="side">
        <div class="center">
            Пользуйтесь нашей самой крутой соцсетью! Регистрируйтесь всего за 2 минуты, делитесь мыслями, находите новых друзей.
        </div>
        <img class="main-img" src="http://pngimg.com/uploads/husky/husky_PNG19.png" />
    </div>


    <div class="main">
        <partial name="Login" model="Model.LoginView" />
        <partial name="Register" model="Model.RegisterView" />
    </div>

</div>
